*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    border:2px solid #030413;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px ;
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 16px;
    justify-content: space-around;
}
.navlist{
    display: flex;
    list-style-type: none;
}
.navlink{
    text-decoration: none;
    padding: 32px;
    color: #fff600;
}
.hireme{
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 32px;
}
.logo h2{
    color: #fff;
}
body{
    background: linear-gradient(135deg, #0b0214 0%, #17052e 40%, #3a0d5c 80%, #1f0436 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.line1{
    color: #ff007f;
}
.line2{
    color: #ffffff;
}
.line3{
    color: #00f0ff;
}
.line4{
    color: #b0a2c7;
}
.cv{
    background: (90deg, #ff007f, #00f0ff);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.4);
}